{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2 class="text-center mx-2 my-2 px-2 py-2">Record a new purchase</h2>
    <div class="row d-flex align-items-center justify-content-center">
        <div class="form-group col-8  shadow  bg-body-tertiary rounded">
          <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-success mb-3" value="Record" />
          </form>
        </div>
    </div>
  </div>
{% endblock %}
